DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
BROWCORD_ALLOW_GUILDS=
BROWCORD_AGENT_TOKEN=
BROWCORD_SECRET=
BROWCORD_SESSION_TTL=8h
PROXY_NETWORK=proxy
ROOM_START_URL=https://duckduckgo.com
ROOM_WIDTH=1280
ROOM_HEIGHT=720
BROWCORD_INK_TTL=15s
COMPOSE_PROFILES=single
BROWCORD_GUARD_URL=
BROWCORD_GUARD_TOKEN=
ROOM_CAP=2
BROWCORD_MULTI_IDLE=60s
BROWCORD_ROOM_CEILING=6h
ROOM_GUARD_CEILING=6h10m
ROOM_STALL_SECONDS=30
